<!DOCTYPE html>

<html>
    <head>
        
<title>Top　Page<title>
 <link rel="stylesheet" href="public/top.scss" />
    </head>
    <body>
        <h1>Welcome to Pan Walk!</h1>
        <p>This is the top page.</p>
        <div class="image_pan1">
            <%= image_tag 'pan1.webp' %>
        </div>
        <div class="image_pan2">
            <%= image_tag 'pan2.webp' %>
        </div>
    </body>
    
    
</html>